.logo img{
    mix-blend-mode: color-burn;
}

.book-img{
    height: 200px;
    width: auto;
}

.book-full-img{
    width: 90%;
    margin: auto;
}

.short-desc {
    width: 60ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
